@font-face {
  font-family: 'Friz Quadrata Std';
  src: url('fonts/FrizQuadrataStd.woff2') format('woff2'),url('fonts/FrizQuadrataStd.woff') format('woff'),url('fonts/FrizQuadrataStd.otf') format("opentype");
  font-weight: 500;
  font-style: normal;
}
html, body {
  height: 100vh;
  margin: 0;
  color: #fff;
  background-color: black;
  font-family: 'Friz Quadrata Std', serif;
  font-size: 1em;
  background: linear-gradient(to bottom, #000000, #022200);
}
h1, h2, h3 {
  margin: 0;
  text-align:center;
  padding: 0;
  font-size: 5em;
  padding-bottom: 10px;
  color: rgba(251,183,0, 0.9);
  text-shadow:3px 3px 0 #000,-1px -1px 0 #000,1px -1px 0 #965500,-1px 1px 0 #965500,1px 1px 0 #965500;
}
p.charname {
  margin-top: 20px;
  text-align:center;
  padding: 0;
  margin-bottom: 0;
  font-size: 3em;
  font-family: "Times New Roman", Times, serif;
  color: rgba(251,183,0, 0.9);
  text-shadow:3px 3px 0 #000,-1px -1px 0 #000,1px -1px 0 #965500,-1px 1px 0 #965500,1px 1px 0 #965500;
}
p.alert {
  color: red;
}
img {
  cursor: pointer;
}
.wrapper {
  position: relative;
  margin: auto;
  min-height: 100%;
  width: 90%;
  background-image: url('images/bg.jpg') ;
  background-color:#808080;
  background-size: cover;
  margin-bottom:-20px;
  background-repeat: no-repeat;
  background-position: center center;
}
.footer,.push {
  height: 20px;
  margin: auto;
  padding-left:10px;
  width: 90%;
  text-align: center;
}
nav {
  margin: 0;
}
nav ul{
  margin: 0;
  padding: 0;
  white-space: nowrap;
  display: flex;
  justify-content: center;
}
nav ul li {
  display: inline;
  list-style-type: none;
  float:left;
  padding-left:10px;
}
.glowBtn:hover {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 15px 3px rgba(0, 255, 0, 0.67);
  -moz-box-shadow: 0px 0px 15px 3px rgba(0, 255, 0, 0.67);
  box-shadow: 0px 0px 15px 3px rgba(0, 255, 0, 0.67);
}
div.logo {
  display:flex;
  justify-content: center;
  padding-top: 5px;
}
div.logo > a > img.hov:hover {
  filter: drop-shadow(0px 0px 30px rgba(0, 255, 0, 0.67));
}
.content {
  background-image: url(images/layout/textbox-tl.png), url(images/layout/textbox-tr.png), url(images/layout/content-tl.png), url(images/layout/content-tr.png), url(images/layout/content-bl.png), url(images/layout/content-br.png), url(images/layout/content-t.gif), url(images/layout/content-b.gif), url(images/layout/content-l.gif), url(images/layout/content-r.gif), url(images/layout/content-bg.png);
  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, repeat-x, repeat-x, repeat-y, repeat-y, repeat;
  background-position: left top, right top, left top, right top, bottom left, bottom right, top center, bottom, left center, right center, center;
  height: 500px;
  padding:25px;
  margin: 0 auto;

  width: 60%;
  overflow:hidden;
  
}
.content p {
  padding:5px;
}
div.tabbed {
  margin-left: 5px;
  margin-right: 5px;
  font-size: 0.85em;
  padding: 0;
}
div.tabbed h4 {
  margin: 0;
  padding: 0;
}
.content img {
  width:60%;
  margin: 0 18%;
}
.statue {
  background-repeat: no-repeat;
  height: 500px;
  pointer-events:none;
  position:absolute;
  bottom: 30px;
  left: 70px;
  width: 330px;
 
}
.statue1 {
  background-image: url(images/layout/statue1.png);
}
.statue2 {
  background-image: url(images/layout/statue2.png);
}
.statue3 {
  background-image: url(images/layout/statue3.png);
}
.statue4 {
  background-image: url(images/layout/statue4.png);
}
.statue5 {
  left: 35px;
  background-image: url(images/layout/statue5.png);
}
.statue6 {
  background-image: url(images/layout/statue6.png);
}
div.content > div.lfdiv {
  float:left;
  width:65%;
  height: 450px;
  margin-left:80px;
}
div.content > div.lfdiv > img {
  height: 500px;
  width:auto;
  margin: 20px auto 0 auto;
}
div.content > div.rtdiv {
  float:right;
  width:25%;
  font-size: 1em;
  height: 480px;
  margin-top:20px;
  padding: 0 5px;
  overflow:auto;
  background-image: url(images/layout/content-tl1.png), url(images/layout/content-tr1.png), url(images/layout/content-bl.png), url(images/layout/content-br.png), url(images/layout/content-t1.gif), url(images/layout/content-b.gif), url(images/layout/content-l.gif), url(images/layout/content-r.gif), url(images/layout/content-bg.png);
  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, repeat-x, repeat-x, repeat-y, repeat-y, repeat;
  background-position: left top, right top, bottom left, bottom right, top center, bottom, left center, right center, center;
}
div.content > div.rtdiv > a {
  text-decoration: none;
  color: #fff;
}
p.char {
  border: 1px solid transparent;
  border-radius:2px 2px 0 0;
  margin:10px;
  text-align: center;
}
div.content > div.rtdiv > a > p.char:hover {
  background: rgba(255, 186, 0, 0.30);
  border-style: solid;
  border-color: yellow;
}
div.content > div.rtdiv > a > p.char:focus {
  background-color: red;
}
form {
  display: inline-block;
  width: 450px;
  height: 450px;
}
form table {
  margin-left: 30px;
}
form table tr th {
  text-align: right;
  padding-right:10px;
  padding-bottom:20px;
}
form table tr td {
  padding-bottom:20px;
  text-align: left;
}
#editInput {
  background-image: url(images/accept.png);
  cursor: pointer;
  width:215px;
  height:30px;
  border: 0;
}
#createInput {
  background-image: url(images/create.png);
  cursor: pointer;
  width:215px;
  height:30px;
  border: 0;
}
.formcontainer {
  text-align:center;
}
.bgImg {
  position:absolute;
  z-index:-1;
}
span.ylw {
  color: #f8c600;
}
.dd {
  width: 100%;
  overflow: hidden;
}
.dd img {
  display: inline-flex;
  width: 100%;
  margin-left:10px;
  max-height: 100px;
  object-fit: cover;
  object-position: 0% 0%;
}
img.bordered{
  border:3px solid #f8c600;
}
.guide {
  list-style-type: none; 
}
.guide li {
  padding-bottom: 10px;
}
.ablink {
  color: white;
  text-decoration: none;
  cursor: pointer;
}
.ablink:hover {
  color: #2c85f4;
  text-decoration: underline;
  cursor: pointer;
}
.alink {
  color: #2c85f4;
  text-decoration: none;
}
.alink:hover {
  text-decoration: underline;
}
.alink:active {
  color:#f8c600;
}