@font-face {
    font-family: 'Friz Quadrata Std';
    src: url('fonts/FrizQuadrataStd.woff2') format('woff2'),
        url('fonts/FrizQuadrataStd.woff') format('woff'),
        url('fonts/FrizQuadrataStd.otf') format("opentype");
    font-weight: 500;
    font-style: normal;
}



html, body {
    height: 100vh;
    margin: 0;
    color: #fff;
    background-color: black;
    font-family: 'Friz Quadrata Std', serif;
    font-size: 1em;
background: linear-gradient(to bottom, #000000, #022200);
}

h1, h2, h3 {
	margin: 0;
	text-align:center;
	padding: 0;
	font-size: 5em;
	padding-bottom: 10px;
color: rgba(251,183,0, 0.9);
/*
text-shadow: 3px 4px 6px #965500, 0 0 0 #000, 1px 4px 6px #965500;

   -webkit-text-stroke: 0.2px black;
*/   
   text-shadow:
       3px 3px 0 #000,
     -1px -1px 0 #000,  
      1px -1px 0 #965500,
      -1px 1px 0 #965500,
       1px 1px 0 #965500;

}

img {
	cursor: pointer;
/*	width:20vh;
	max-height:100%;*/
}

.wrapper {
	margin: auto;
    min-height: 100%;
    width: 90%;
	background-image: url('images/bg.jpg') ;
    background-color:#808080;
    background-size: cover;
    margin-bottom:-20px;
    
  background-repeat: no-repeat;
  background-position: center center;
}
.footer,
.push {
  height: 20px;
  	margin: auto;
    padding-left:10px;
    width: 90%;
    text-align: center;
}

nav {
    margin: 0;

}

nav ul{
    margin: 0;
    padding: 0;
    white-space: nowrap;
  display: flex;
  justify-content: center;

}

nav ul.mid {
/*	display: inline-block;
	width: 700px;
	margin: 0 20%;
	margin-top: 50px;*/

}

nav ul.mid li {
	
}

nav ul li {
    /* This allow us to arrange list items in a row, without using float */
    display: inline;
    list-style-type: none;
    float:left;
    padding-left:10px;
}

nav > ul  {
}

/*****
https://codepen.io/anon/pen/ilqnb
*****/

nav > ul.mid > li > a > img:hover{
	    -webkit-border-radius: 10px;
	    -moz-border-radius: 10px;
	    border-radius: 10px;
	 -webkit-box-shadow: 0px 0px 15px 3px rgba(0, 255, 0, 0.67);
	-moz-box-shadow:    0px 0px 15px 3px rgba(0, 255, 0, 0.67);
	box-shadow:         0px 0px 15px 3px rgba(0, 255, 0, 0.67);
}

div.logo {
	display:flex;
	justify-content: center;
	padding-top: 5px;
}

div.logo > a > img.hov:hover {
	
	filter: drop-shadow(0px 0px 30px rgba(0, 255, 0, 0.67));
}

/* Create a style for the first level items 
nav > ul > li > a {
    color: #aaa;
    display: block;
    line-height: 2em;
    padding: 0.5em 0.5em;
    text-decoration: none;
}
*/

/*****
https://the-barrens.org/templates/tbc/layout.css
*****/
.content {
	background-image: url(images/layout/textbox-tl.png), url(images/layout/textbox-tr.png), url(images/layout/content-tl.png), url(images/layout/content-tr.png), url(images/layout/content-bl.png), url(images/layout/content-br.png), url(images/layout/content-t.gif), url(images/layout/content-b.gif), url(images/layout/content-l.gif), url(images/layout/content-r.gif), url(images/layout/content-bg.png);
	background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, repeat-x, repeat-x, repeat-y, repeat-y, repeat;
	background-position: left top, right top, left top, right top, bottom left, bottom right, top center, bottom, left center, right center, center;
	min-height: 500px;
	padding:25px;
	margin: 0 auto;
	position:relative;
	width: 60%;
/*
stuck to bottom
  position: fixed;
  left: 50%;
  bottom: 20px;
  transform: translate(-50%, -50%);
  margin: 0 auto;

*/
}
	
.content p {
	padding:5px;
}

.content img {
	width:60%;
	margin: 0 18%;
}

.statue {
	background-repeat: no-repeat;	
	height: 500px;
	pointer-events:none;
	position:absolute;
		bottom:-56px;
		left: -243px;
	width: 330px;
}
.statue1 {
	background-image: url(images/layout/statue1.png);
}

.statue2 {
	background-image: url(images/layout/statue2.png);
}

.statue3 {
	background-image: url(images/layout/statue3.png);
}

.statue4 {
	background-image: url(images/layout/statue4.png);
}
.statue5 {
	background-image: url(images/layout/statue5.png);
}
.statue6 {
	background-image: url(images/layout/statue6.png);
}