{% extends 'base.html' %}
{% load static %}
{% block title %}Characters - {{ block.super }}{% endblock %}
{% block content %}
<h2>Characters of {{ user.username }}</h2>
<div class="content">
	{% if user.is_authenticated %}
		<div class="lfdiv">
			<img id ="imageOne" src ="/static/creation/images/layout/statue0.png" />
	    </div>
		<div class="rtdiv">
		{% for i in object_list %}
			<script>
				var image =  document.getElementById("imageOne");
				function changeColor{{ i.id }}(){
					image.src = "/static/creation/images/characters/{{ i.race.id }}{{ i.job.id }}{{ i.color.id }}{{ i.hair.id }}{{ i.face.id }}{{ i.sex.id }}.png";
				}
			</script>
			<a href="{% url 'character' i.id %}">
				<p class="char" onmouseover = "changeColor{{ i.id }}()">
					<span class="ylw">{{ i.character_name }}</span><br>
					{{ i.race }} {{ i.job }}<br>
				</p>
			</a>
		{% endfor %}
		
		<p><a href="{% url 'create' %}"><img class="glowBtn" src ="/static/creation/images/create.png" /></a></p>

	{% else %}
	    <p>Welcome, new user. Please <a href="{% url 'login' %}">login</a> or <a href="{% url 'signup' %}">sign up</a>.</p>
	{% endif %}
	</div>
</div>
{% endblock %}