{% extends 'base.html' %}
{% load static %}
{% block title %}Data Model - {{ block.super }}{% endblock %}
{% block content %}
<h2>High-level ERD</h2>
<div class="content">
	<div id="f1" onclick="this.style.visibility='hidden';">
		<img class="bordered" src="{% static 'creation/images/task2_erdbw.png' %}">
	</div>
	<p><span class="ylw">Click on the image to zoom</span><br>Also <a class="alink" href="https://erichilario.pythonanywhere.com/HILARIO, Eric 121102 - HIT237 Assignment 2 Task 2.pdf">included in the Task 2 Documentation PDF</a>.</p>
		<img src="{% static 'creation/images/task2_erdtransparent.png' %}" onclick="toggler(f1.id)" />

	<small>Disclaimer: The Django User Model is not claimed to be a part of the requirements of this project and is only illustrated to display the relationship.</small>
	<div class="statue statue3"></div>
</div>
{% endblock %}