{% extends 'base.html' %}
{% load static %}
{% block title %}Home - {{ block.super }}{% endblock %}
{% block content %}
<h1>Landing Page</h1>
<div class="content">
	{% if user.is_authenticated %}
	    <p>Welcome, {{ user.username }}.</p>
	{% else %}
	    <p>Welcome, new user. Please <a href="{% url 'login' %}">login</a> or <a href="{% url 'signup' %}">sign up</a>.<br><br><span style="font-style: italic;">Author's note</span>: For demonstration purposes, use <span class="ylw">admin</span>, <span class="ylw">stranger</span> or <span class="ylw">partner</span> as username with <span class="ylw">creation</span> as password to login without signing up.</p>
	{% endif %}
	<hr>
	<div class="tabbed">
		<h4>Summary</h4>
		<p>This project was created by Eric Hilario (s121102) for HIT237 - Building Interactive Software in Semester 1 of 2019. It is currently hosted in <a href="https://erichilario.pythonanywhere.com">https://erichilario.pythonanywhere.com</a> as proof of concept, while the code is maintained in <a href="https://github.com/erichilario/createcharacter">https://github.com/erichilario/createcharacter</a>.</p>

		<p>The task was to build an interactive database-driven website using Django forms to provide CRUD (Create, Read, Update and Delete) functionality for the records in the database.</p>

		<p>The idea is to create a "Character Creation" screen for a fictional web-based MMORPG. The characters created by the user are then represented graphically in a character selection screen. Clicking on a character will allow for editing its name and attributes as well as deleting it entirely. Models, graphics, fonts, styling and various other imagery were heavily inspired by and based on the popular MMORPG World of Warcraft (specifically 2.4.3).</p>
		<h4>Requirements</h4>
		<p>The scope of this topic allowed for meeting the minimum data complexity requirement of 2 additional tables associated with the principal topic. Django's built-in User model was also utilised. Django v1.11.2 and Python 3.6.4 were used in creating this project. Among the requirements met were persistent navigation options, logical links to the detail page of each record as well as buttons within the various forms to create, edit and delete a record. SQLite3 baked into Django was the natural database of choice. There are forms to create and edit the characters that accept user input which in turn, makes changes to the database and automagically updates the graphical representation of the character. Deletion of a record asks for confirmation. Hyperlinks all use the &#123;&#37;url&#37;&#125; tag. Temp accounts provided to view the records of the pre-populated database. Documentation requirements are in the link above and also in PDF form.
		</p>
	</div>
	<div class="statue statue1"></div>
</div>
{% endblock %}

