{% extends 'base.html' %}
{% load static %}
{% block title %}Home - {{ block.super }}{% endblock %}
{% block content %}
<h1>Landing Page</h1>
<div class="content">

{% if user.is_authenticated %}
    <p>Welcome, {{ user.username }}.</p>
{% else %}
    <p>Welcome, new user. Please <a href="{% url 'login' %}">login</a> or <a href="{% url 'signup' %}">sign up</a>.</p>
{% endif %}

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus vestibulum neque lectus, a pulvinar elit maximus vitae. Nulla erat urna, tempor et lectus a, ultrices gravida elit. Maecenas venenatis eros eget facilisis pellentesque. Morbi vehicula orci ex, ullamcorper scelerisque tellus consequat eu. Nam congue efficitur sapien sed viverra. Suspendisse condimentum in ipsum a facilisis. Nullam orci sem, molestie at imperdiet at, blandit accumsan enim. Aliquam sagittis elit dui, at lobortis quam pretium et. In eros orci, tempor tincidunt facilisis vel, dictum ultrices ex.</p>

<p>Cras rhoncus turpis in justo ultrices, id fringilla neque tempor. Mauris aliquet libero magna, ac ullamcorper risus consectetur eu. Integer ut mollis orci. Vivamus fermentum sollicitudin purus, vel facilisis dolor vulputate a. Donec luctus metus nec elit malesuada sollicitudin. Aliquam faucibus nibh quis auctor tempor. Proin quis turpis at nisi molestie convallis. Aliquam sagittis semper diam at consequat. Donec ut risus tristique, facilisis est in, viverra justo.</p>
<!--<img src="{% static 'creation/images/logo.png' %}" />-->

<div class="statue statue1"></div>
</div>
{% endblock %}

