{% extends 'base.html' %}
{% load static %}
{% block title %}User Guide - {{ block.super }}{% endblock %}
{% block content %}
<h2>User Guide</h2>
<div class="content">
	<div id="g1" onclick="this.style.visibility='hidden';">
		<img class="bordered" src="{% static 'creation/images/guides/01.gif' %}">
	</div>
	<div id="g2" onclick="this.style.visibility='hidden';">
		<img class="bordered" src="{% static 'creation/images/guides/02.gif' %}">
	</div>
	<div id="g3" onclick="this.style.visibility='hidden';">
		<img class="bordered" src="{% static 'creation/images/guides/03.gif' %}">
	</div>
	<div id="g4" onclick="this.style.visibility='hidden';">
		<img class="bordered" src="{% static 'creation/images/guides/04.gif' %}">
	</div>
	<div id="g5" onclick="this.style.visibility='hidden';">
		<img class="bordered" src="{% static 'creation/images/guides/05.gif' %}">
	</div>
	<div id="g7" onclick="this.style.visibility='hidden';">
		<img class="bordered" src="{% static 'creation/images/guides/07.gif' %}">
	</div>
	<div id="g8" onclick="this.style.visibility='hidden';">
		<img class="bordered" src="{% static 'creation/images/guides/08.gif' %}">
	</div>
	<div class="dd">
		<p><span class="ylw">Clicking a guide below opens an animated GIF.</span><br>Also <a class="alink" href="https://erichilario.pythonanywhere.com/HILARIO, Eric 121102 - HIT237 Assignment 2 Task 2.pdf">included in the Task 2 Documentation PDF</a>.</p>
		<ul class="guide">
			<li><a class="ablink" onclick="toggler(g1.id)">Create an account</a></li>
			<li><a class="ablink" onclick="toggler(g2.id)">Login to an existing account</a></li>
			<li><a class="ablink" onclick="toggler(g3.id)">Create a character</a></li>
			<li><a class="ablink" onclick="toggler(g4.id)">Edit a character</a></li>
			<li><a class="ablink" onclick="toggler(g5.id)">View characters</a></li>
			<li><a class="ablink" onclick="toggler(g7.id)">Delete a character</a></li>
			<li><a class="ablink" onclick="toggler(g8.id)">Logout</a></li>
		</ul>
	</div>
	<div class="statue statue5"></div>
</div>
{% endblock %}